emannotationschemas>=3.2.5
caveclient
cloud-volume
cloud-files
pandas
Flask==1.1.2
SQLAlchemy<1.4
Flask-SQLAlchemy==2.4.4
jsonschema
multiwrapper
requests
middle-auth-client>=3.8.1
marshmallow-sqlalchemy
flask-marshmallow
Flask-Admin
Flask-Cors
flask-restx
flask-accepts
geoalchemy2>=0.9.2
alembic
celery==4.4.7
cachetools
gevent
gcsfs>=0.8.0
pyarrow
flask_cors
numpy>=1.20
-e git+git://github.com/seung-lab/PyChunkedGraph.git@vminnie-118#egg=pychunkedgraph
dynamicannotationdb>=3.0.1